In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [20]:
data = pd.read_csv('../dataset/Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [21]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [22]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [23]:
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [24]:
# One Hot Encode 'Geography' column
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [26]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [27]:
# Split the data into features and target
x = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [28]:
# Split the data in training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [29]:
# Scale these features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [30]:
# Save the encoders and scaler for later use
with open('../experiment/label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)
    
with open('../experiment/onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)
    
with open('../experiment/scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

# ANN Regression Problem Statement

In [31]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [34]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # Output layer for regression
])

# Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

c:\Users\LENOVO\OneDrive\Desktop\Project\GenAI\ANN Classification\venv\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [35]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [36]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [37]:
# Train the model
history = model.fit(
    x_train, y_train, validation_data=(x_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 9ms/step - loss: 100455.0469 - mae: 100455.0469 - val_loss: 98506.1562 - val_mae: 98506.1562
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 100041.1562 - mae: 100041.1562 - val_loss: 96940.6250 - val_mae: 96940.6250
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 14ms/step - loss: 97126.4375 - mae: 97126.4375 - val_loss: 92945.5312 - val_mae: 92945.5312
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 93568.4766 - mae: 93568.4766 - val_loss: 86277.5234 - val_mae: 86277.5234
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 87354.4062 - mae: 87354.4062 - val_loss: 77738.7109 - val_mae: 77738.7109
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 77160.7188 - mae: 77160.7188 - val_loss: 68906.3750 - val_mae: 68906.3750
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 68212.5000 - mae: 68212.5000 - val_loss: 61294.5469 - val_mae: 61294.5469
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 60444.4570 - mae: 60444.4570 - val_loss: 55758.3516 - val_mae: 55758.3516
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 11ms/step - loss: 55288.2422 - mae: 55288.2422 - val_loss: 52681.3164 - val_mae: 52681.3164
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 52547.5312 - mae: 52547.5312 - val_loss: 51378.3594 - val_mae: 51378.3594
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50550.9492 - mae: 50550.9492 - val_loss: 50951.1641 - val_mae: 50951.1641
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 14ms/step - loss: 50213.0117 - mae: 50213.0117 - val_loss: 50820.9336 - val_mae: 50820.9336
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50761.2461 - mae: 50761.2461 - val_loss: 50771.1953 - val_mae: 50771.1953
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49966.9453 - mae: 49966.9453 - val_loss: 50738.4844 - val_mae: 50738.4844
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49763.8711 - mae: 49763.8711 - val_loss: 50712.5742 - val_mae: 50712.5742
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49826.0703 - mae: 49826.0703 - val_loss: 50683.3164 - val_mae: 50683.3164
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49946.2852 - mae: 49946.2852 - val_loss: 50657.1328 - val_mae: 50657.1328
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50113.3594 - mae: 50113.3594 - val_loss: 50634.1758 - val_mae: 50634.1758
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 50113.6406 - mae: 50113.6406 - val_loss: 50612.1719 - val_mae: 50612.1719
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49804.7500 - mae: 49804.7500 - val_loss: 50586.0039 - val_mae: 50586.0039
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 50027.3555 - mae: 50027.3555 - val_loss: 50568.7188 - val_mae: 50568.7188
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49866.5859 - mae: 49866.5859 - val_loss: 50547.4688 - val_mae: 50547.4688
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49916.2852 - mae: 49916.2852 - val_loss: 50542.8086 - val_mae: 50542.8086
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50133.4805 - mae: 50133.4805 - val_loss: 50527.0234 - val_mae: 50527.0234
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50328.1836 - mae: 50328.1836 - val_loss: 50503.4219 - val_mae: 50503.4219
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49279.7734 - mae: 49279.7734 - val_loss: 50485.4531 - val_mae: 50485.4531
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49522.5039 - mae: 49522.5039 - val_loss: 50473.1523 - val_mae: 50473.1523
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50098.8711 - mae: 50098.8711 - val_loss: 50464.2734 - val_mae: 50464.2734
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49551.4688 - mae: 49551.4688 - val_loss: 50457.8750 - val_mae: 50457.8750
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 50009.4180 - mae: 50009.4180 - val_loss: 50446.1016 - val_mae: 50446.1016
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49574.7148 - mae: 49574.7148 - val_loss: 50433.4492 - val_mae: 50433.4492
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 50261.3516 - mae: 50261.3516 - val_loss: 50425.4062 - val_mae: 50425.4062
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49430.0273 - mae: 49430.0273 - val_loss: 50426.4922 - val_mae: 50426.4922
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49822.1055 - mae: 49822.1055 - val_loss: 50413.2148 - val_mae: 50413.2148
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50032.6172 - mae: 50032.6172 - val_loss: 50402.5078 - val_mae: 50402.5078
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49327.8750 - mae: 49327.8750 - val_loss: 50400.1797 - val_mae: 50400.1797
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49644.7812 - mae: 49644.7812 - val_loss: 50396.7109 - val_mae: 50396.7109
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 49839.5938 - mae: 49839.5938 - val_loss: 50391.2812 - val_mae: 50391.2812
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49531.7852 - mae: 49531.7852 - val_loss: 50394.0586 - val_mae: 50394.0586
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50394.7383 - mae: 50394.7383 - val_loss: 50388.1992 - val_mae: 50388.1992
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49169.2656 - mae: 49169.2656 - val_loss: 50383.1172 - val_mae: 50383.1172
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49657.6016 - mae: 49657.6016 - val_loss: 50374.3242 - val_mae: 50374.3242
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49797.5898 - mae: 49797.5898 - val_loss: 50380.0664 - val_mae: 50380.0664
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49600.3164 - mae: 49600.3164 - val_loss: 50378.8711 - val_mae: 50378.8711
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49047.7812 - mae: 49047.7812 - val_loss: 50377.0195 - val_mae: 50377.0195
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49296.9648 - mae: 49296.9648 - val_loss: 50376.1719 - val_mae: 50376.1719
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49235.0625 - mae: 49235.0625 - val_loss: 50382.3047 - val_mae: 50382.3047
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49125.6406 - mae: 49125.6406 - val_loss: 50378.7852 - val_mae: 50378.7852
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49204.8008 - mae: 49204.8008 - val_loss: 50377.9453 - val_mae: 50377.9453
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49030.0742 - mae: 49030.0742 - val_loss: 50380.5625 - val_mae: 50380.5625
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49992.1992 - mae: 49992.1992 - val_loss: 50384.4258 - val_mae: 50384.4258
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49231.5234 - mae: 49231.5234 - val_loss: 50368.2227 - val_mae: 50368.2227
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - loss: 49289.8203 - mae: 49289.8203 - val_loss: 50371.5430 - val_mae: 50371.5430
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49621.4219 - mae: 49621.4219 - val_loss: 50369.7891 - val_mae: 50369.7891
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49810.6992 - mae: 49810.6992 - val_loss: 50366.9414 - val_mae: 50366.9414
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49900.1875 - mae: 49900.1875 - val_loss: 50370.6836 - val_mae: 50370.6836
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49463.5312 - mae: 49463.5312 - val_loss: 50382.6719 - val_mae: 50382.6719
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 48829.9141 - mae: 48829.9141 - val_loss: 50377.3125 - val_mae: 50377.3125
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49496.6250 - mae: 49496.6250 - val_loss: 50376.2578 - val_mae: 50376.2578
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49736.6250 - mae: 49736.6250 - val_loss: 50369.1836 - val_mae: 50369.1836
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49179.7930 - mae: 49179.7930 - val_loss: 50372.8164 - val_mae: 50372.8164
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 48848.7148 - mae: 48848.7148 - val_loss: 50371.8555 - val_mae: 50371.8555
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49487.6836 - mae: 49487.6836 - val_loss: 50382.5312 - val_mae: 50382.5312
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 49467.2891 - mae: 49467.2891 - val_loss: 50379.3867 - val_mae: 50379.3867
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49305.9102 - mae: 49305.9102 - val_loss: 50384.2539 - val_mae: 50384.2539

In [39]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [42]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6008 (pid 12212), started 0:00:42 ago. (Use '!kill 12212' to kill it.)

In [43]:
# Evaluate model on the test data
test_lost, test_mae = model.evaluate(x_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 51167.1836 - mae: 51167.1836
Test MAE: 50366.94140625

In [44]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.